TrnFacturaElectronica/Connected Services/wsdl_dfacture/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="consecutivoDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentResponse" nillable="true" type="tns:DocumentResponse" />
  <xs:complexType name="DocumentStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="acuseComentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="acuseEstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="acuseResponsable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="acuseRespuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estatusDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="fechaDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensajeDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentStatusResponse" nillable="true" type="tns:DocumentStatusResponse" />
  <xs:complexType name="SendEmailResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendEmailResponse" nillable="true" type="tns:SendEmailResponse" />
  <xs:complexType name="DownloadPDFResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadPDFResponse" nillable="true" type="tns:DownloadPDFResponse" />
  <xs:complexType name="DownloadXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="cufe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadXMLResponse" nillable="true" type="tns:DownloadXMLResponse" />
  <xs:complexType name="FoliosRemainingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="foliosRestantes" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoliosRemainingResponse" nillable="true" type="tns:FoliosRemainingResponse" />
  <xs:complexType name="LoadCertificateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadCertificateResponse" nillable="true" type="tns:LoadCertificateResponse" />
</xs:schema>